<!-- <h1>Posts by <%= @user_posts.first.author %></h1> -->
<h1>Posts by <%= params[:author] %></h1>
<h1>Posts by <%= @user_name %></h1>

<table>
  <thead>
    <th>Title</th>
    <th>Blog Entry</th>
  </thead>
  <tbody>
  <% @user_posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.blog_entry %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%=  %><%=  %>

<%  %>


