<%= form_with(model: comment, local: true) do |form| %>
  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :comment_author %>
  </div>

  <div class="field">
    <%= form.label :comment_entry %>
    <%= form.text_area :comment_entry, id: :comment_comment_entry %>
  </div>

  <div class="field">
    <%= form.hidden_field :post_id, value: @post.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
